### General
.DS_Store
build/
out/
!**/src/**/build/
!**/src/**/out/
*.log

### IntelliJ
*.iml
*.ipr
*.iws
app/androidApp/release/
app/androidApp/debug/

### Gradle
.gradle/
local.properties

### Java
*.hprof

### Kotlin
.kotlin/
